.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Banner {
    width: 100vw;
    height: 400px;
    background-color: bisque;
  }

  .select-dropdown {
    height: 40px;
    width: 800px;
    position: absolute;
    top: 120px;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    display: flex;
    padding-left: 5px;
    div {
      float: left;
      margin-left: 5px;
      margin-right: 2px;
    }
    &:hover {
      cursor: pointer;
    }
    .select-item {
      margin-top: 0.25rem;
      &.selected {
        font-weight: bold;
        color: #0174df;
      }
      &:hover {
        font-weight: bold;
        color: #0174df;
      }
    }
  }

  .GroupName {
    width: 75vw;
    color: #d8d8d8;
  }

  .Title {
    width: 80vw;
    color: white;
  }

  .Line {
    width: 75vw;
    height: 3px;
    background-color: #d8d8d8;
  }

  .ArtList {
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    width: 80vw;
    padding: 0;
    list-style: none;
    .Filter {
      height: 35px;
      width: 100px;
      background-color: white;
      border-radius: 8px;
      border: 1px solid #eaeaea;
      font-size: 0.8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      .Category {
        flex: 1;
      }
      svg {
        align-items: right;
        font-size: 1.3rem;
        margin-right: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
