.BulletinItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75vw;
  height: 30px;
  border-bottom: 1px solid black;
  color: black;

  div {
    text-align: center;
  }
  .info1 {
    //background-color: antiquewhite;
    width: 10vw;
  }
  .info2 {
    //background-color: aqua;
    width: 50vw;
  }
  .info3 {
    //background-color: antiquewhite;
    width: 15vw;
  }
}
