.BulletinItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75vw;
  height: 30px;
  border-bottom: 1px solid black;
  color: black;

  .info1 {
    text-align: center;
    width: 10vw;
  }
  .info2 {
    text-align: center;
    width: 50vw;
  }
  .info3 {
    text-align: center;
    width: 15vw;
  }
  .info4 {
    text-align: left;
    width: 43vw;
    padding-left: 2vw;
  }
  .info5 {
    text-align: center;
    width: 15vw;
  }
}
