.Header {
  .ShowMenu {
    background: #610b0b;
    width: 100vw;
    height: 80px;
    border-bottom: 2px solid #bf9e27;

    div {
      width: auto;
      height: 30px;
      margin-left: 40px;
      margin-top: 35px;
      font-size: 1.5rem;
      color: #bf9e27;
      float: left;
    }

    .SiteName {
      height: 70px;
      font-size: 2.3rem;
      font-weight: bold;
      margin-top: 25px;
      margin-left: 20px;
      margin-right: 20px;
      color: white;
    }
  }
}
